{% extends "createsubscription/select_shares.html" %}
{% load i18n %}
{% load static %}
{% load juntagrico.config %}

{% block intro_2 %}
    {{ block.super }}
    <div class="row mb-4">
      <div class="col-md-12">
        Wenn du ein Abo von auVert🥕 beziehen möchtest, empfehlen wir dir, auch
        mindestens einen Anteilschein zu erwerben, ist aber keine Bedingung.
        <br /><br />
        Anteilsscheine sind zinslose Darlehen und können bei Austritt aus der
        Genossenschaft zurückgefordert werden. Mit einem Anteilschein erhältst du
        die Mitgliedschaft in der Genossenschaft auVert🥕 und erwirbst das Stimm-
        und Wahlrecht gemäss Statuten.
      </div>
    </div>
{% endblock %}
